		<!-- jQuery -->
		<!-- <script src="/admin/javascripts/jquery.js"></script> -->

		<!-- Bootstrap Core JavaScript -->
		<script src="/admin/javascripts/bootstrap.min.js"></script>

		<!-- Morris Charts JavaScript -->
		<script src="/admin/javascripts/plugins/morris/raphael.min.js"></script>
		<script src="/admin/javascripts/plugins/morris/morris.min.js"></script>
		<script src="/admin/javascripts/plugins/morris/morris-data.js"></script>

	</body>

	</html>
