<% include partials/header %>

<% include partials/sidebar %>

        <div id="page-wrapper">
            <img src="/admin/images/bg_admin.png" alt="" width="100%" height="100%">
            
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

<% include partials/footer %>